span{
  color: #FF0000;
}
p{
  font-size: 70px;
}
.t{
  font-size: 40px;
}
body{
  background: linear-gradient(to right, #69bcf4, #30cc8b);
}
.wrapper {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #69bcf4, #30cc8b);
}
.wrapper1 {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #69bcf4, #30cc8b);
}
.w{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.wrap{
  background: linear-gradient(to right, #69bcf4, #30cc8b);
}
.but{
  width: 250px;
}
.wrap {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.form-wrap {
  display: flex;
  flex-direction: column;
  width: 360px;
  max-width: 80%;
  min-width: 100px;
  min-height: 100px;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: rgb(211,211,211);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 360px;
  max-width: 80%;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: rgb(211,211,211);
}
.error {
  color:#db2269;
  font-size: 0.5em;
  display: relative;
}
button {
  min-width: 30%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 0.5em;
  padding: 	0.938em;
  border: none;
  border-radius: 4px;
  background-color: #22223B;
  color: #fefefe;
}
button:hover {
  background-color: #4A4E69;
  color: #fefefe;
}

label {
  margin-bottom: 0.5em;
  color: #444;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d6d1d5;
}

.licenseplate,
.vehicleid,
.colour,
.licenseno,
.roadid
{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.licenseno,
.firstname,
.lastname,
.issuedon,
.expirydate,
.type,
.dob,
.phoneno,
.address,
.state,
.bloodgroup,
.fathersname,
.aadharno,
.roadid,
.town,
.junctionid,
.to,
.from,
.name,
.stationid,
.stationname,
.area,
.incharge,
.age,
.model,
.sex,
.bike,
.car,
.jeep,
.bus,
.total,
.tpid,
.name,
.stationid,
.username,
.password,
.fathername
{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}


.submit {
  width: 100%;
  display: flex;
  justify-content: center;
}




.but{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.but:hover{
  background:#fff;
  color:#1AAB8A;
}
.but:before,
.but:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.but:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.but:hover:before,
.but:hover:after{
  width:100%;
  transition:800ms ease all;
}

.bar
{
  margin: 70px;
  float: right;
}
li{
  display: inline-block;
}
li a{
  text-decoration: none;

  color: #000;
  font-family: Source Sans Pro;
  font-weight: 100;
  text-align: center;
  padding:0 20px;
  font-size: 20px;
  }
a{
  left: 0;
  bottom: 0;
}
a:hover
{
  border-left: 2px solid red;
  color: #f00;
}
